<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrianrusso.painmanagementpatientside">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PainManagementPatientSide">
        <activity
            android:name=".activites.CheckinScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_checkin_scrolling"
            android:theme="@style/Theme.PainManagementPatientSide.NoActionBar" />
        <activity
            android:name=".activites.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activites.TreatmentStrategiesScrollingActivity"
            android:exported="false"
            android:label="Daily Survey"
            android:theme="@style/Theme.PainManagementPatientSide.NoActionBar" />
        <activity
            android:name=".activites.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ExternalFactorsScrollingActivity"
            android:exported="false"
            android:label="Daily Survey"
            android:theme="@style/Theme.PainManagementPatientSide.NoActionBar" />
        <activity
            android:name=".activites.PainDescriptionScrollingActivity"
            android:exported="false"
            android:label="Daily Survey"
            android:theme="@style/Theme.PainManagementPatientSide.NoActionBar" />
        <activity
            android:name=".activites.ProviderSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activites.AddMedicationActivity"
            android:exported="false" />
        <activity
            android:name=".activites.EmotionRecordActivity"
            android:exported="false" />
        <activity
            android:name=".activites.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".activites.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.TwoFactorAuthentication"
            android:exported="false" />
    </application>

</manifest>